
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}



html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', serif;
  height: 100%;
  /* Stops safari from resizing text */
  -webkit-text-size-adjust: none;
}

/* hidden by default */
#stage, #mainmenu {
  display:none;
}

#mainmenu .new {
  background-color: #2980b9;
  color: white;
  font-size: 0.5rem;
  border-radius: 0.25rem;
  font-style: normal;
  padding: 0.15rem 0.25rem;
  vertical-align: middle;
  margin: 0rem 0rem 0.3rem 0.45rem;
}

#mainmenu .poetry .section, #mainmenu .poetry, #mainmenu {
  min-height: 100vh;
}

.poetry .section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.poetry .stanza {
  padding: 1.2rem 0;
}

.poetry .title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}

.poetry .subtitle {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 2rem;
  margin-top: -2.4rem;
}

.poetry .dedication {
  font-style: italic;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.poetry .credits {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

.poetry .stanza + .credits {
  padding-top: 3rem;
}

.poetry .section {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 0.2em solid white;
}

.poetry .section .video-bg {
  min-height: 100%;
  position: fixed;
  min-width: 100%;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.poetry .back-button {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.poetry .stanza a:hover, .poetry .back-button:hover, .poetry a.credits span:hover {
  background-color: #71dde3;
}

.poetry .stanza span:hover, .poetry .title:hover, .poetry .credits span:hover {
  background-color: #ecf0f1;

}

.poetry .inline.credits {
  display: inline-block;
}

.poetry .credits img {
  height: 1em;
  vertical-align: baseline;
}

.poetry .stanza span, .poetry .credits span, .poetry .back-button, .poetry .stanza a {
  margin-bottom: 0.2rem;
}

.poetry .stanza span, .poetry .title, .poetry .credits span, .poetry .back-button,
.poetry .stanza a, .poetry .dedication, .poetry .subtitle {
  border-radius: 0 0.2rem 0.2rem 0;
  background-color: white;
  padding: 0.5rem 0.75rem 0.4rem;
  display: inline-block;
}
